<!-- Template for each archive entry. Client must provide:
CONTENT: Content of entry.
POST_TITLE: Title of post.
PERMALINK: Permalink to this entry. -->

$CONTENT$

<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
this.page.url = "$PERMALINK$";
this.page.identifier = "$PERMALINK$";
this.page.title = "$POST_TITLE$";
};
(function() {
var d = document, s = d.createElement('script');

s.src = '//paradoxical.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
