<!-- Template for each post. Client must provide:
POST_DATE: Date posted.
POST_TITLE: Title of post.
POST_CONTENT: HTML (not Markdown) content of post. -->

<article class="post">
  <header class="post-header">
    <div class="post-meta">
      $POST_DATE$
    </div>
    <div class="post-title">
      $POST_TITLE$
    </div>
  </header>
  <section class="post-content">
    $POST_CONTENT$
  </section>
  <div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
var disqus_config = function () {
this.page.url = "http://wanganzhou.com/"; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "$POST_TITLE$"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//paradoxical.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//paradoxical.disqus.com/count.js" async></script>
</article>
