<!-- Template for each post. Client must provide:
POST_DATE: Date posted.
POST_TITLE: Title of post.
POST_CONTENT: HTML (not Markdown) content of post. -->

<article class="post">
  <header class="post-header">
    <div class="post-meta">
      $POST_DATE$
    </div>
    <div class="post-title">
      <a href="$POST_PERMALINK$">$POST_TITLE$</a>
    </div>
    <div class="post-meta">
      <a href="$POST_PERMALINK$#disqus_thread" data-disqus-identifier="$POST_PERMALINK$">0 Comments</a>
    </div>
  </header>
  <section class="post-content">
    $POST_CONTENT$
  </section>
</article>
